table {
  border-collapse: collapse;
  max-width: 900px;
  width: 100%;
  margin: 2rem auto;
}

table th,
table td {
  border: 1px solid #ddd;
}

table tr:hover {
  background-color: aqua;
}

/* table tbody tr:nth-child(1) {
  height: 500px;
  vertical-align: top;
} */